## Customer Behaviour: Case Study

- Customer Behavior Analysis is the process of examining how customers interact with a product, service, or platform to understand their actions, preferences, and decision-making processes.

- We have a dataset that captures the behavior of e-commerce customers. The dataset contains the following columns:

1. User_ID: Unique identifier for each customer.
2. Gender: Gender of the customer (e.g., Male, Female).
3. Age: Age of the customer.
4. Location: Location of the customer.
5. Device_Type: Type of device used for browsing (e.g., Mobile, Tablet, Desktop).
6. Product_Browsing_Time: Amount of time spent browsing products (in minutes).
7. Total_Pages_Viewed: Total number of pages viewed during the browsing session.
8. Items_Added_to_Cart: Number of items added to the shopping cart.
9. Total_Purchases: Total number of purchases made.

Your task involves:

- Understanding the distribution and characteristics of customer demographics (e.g., age, gender, location).
- Exploring how different types of devices are used by customers and their impact on behavior.
- Investigating the relationship between browsing time, pages viewed, items added to the cart, and actual purchases.
- Segmenting customers based on their behavior and identifying distinct customer groups.
- Analyzing the customer journey and identifying potential areas for improvement in the conversion funnel.
- Assessing the impact of customer behavior on revenue generation and identifying opportunities for increasing sales and customer engagement.

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('ecommerce_customer_data.csv')
data.head()

,User_ID,Gender,Age,Location,Device_Type,Product_Browsing_Time,Total_Pages_Viewed,Items_Added_to_Cart,Total_Purchases
0,1,Female,23,Ahmedabad,Mobile,60,30,1,0
1,2,Male,25,Kolkata,Tablet,30,38,9,4
2,3,Male,32,Bangalore,Desktop,37,13,5,0
3,4,Male,35,Delhi,Mobile,7,20,10,3
4,5,Male,27,Bangalore,Tablet,35,20,8,2

- Let's have a look at the descriptive statistics for numeric columns

In [4]:
# Summary statistics for numeric columns
data.describe()

,User_ID,Age,Product_Browsing_Time,Total_Pages_Viewed,Items_Added_to_Cart,Total_Purchases
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,26.276000,30.740000,27.182000,5.150000,2.464000
std,144.481833,5.114699,15.934246,13.071596,3.203127,1.740909
min,1.000000,18.000000,5.000000,5.000000,0.000000,0.000000
25%,125.750000,22.000000,16.000000,16.000000,2.000000,1.000000
50%,250.500000,26.000000,31.000000,27.000000,5.000000,2.000000
75%,375.250000,31.000000,44.000000,38.000000,8.000000,4.000000
max,500.000000,35.000000,60.000000,50.000000,10.000000,5.000000

- Now let's see descriptive statistics for non-numeric columns

In [6]:
# Summary for non

(500, 9)